<div class="h-28"></div>
<%= form_with(model: @invite, class: "bg-zinc-900 rounded-lg max-w-96 p-4 mx-auto shadow-2xl") do |form| %>
  <header class="mb-10">
    <%= @user.email_address %> invites you to collaberate on <%= @board.title %>.
  </header>
  <%= form.submit("reject", class: "button-outlined float-none py-3 px-5") %>
  <%= form.submit("accept", class: "button-filled") %>
<% end %>
