<turbo-frame id="<%= dom_id(@lane) %>">
  <ul class="bg-zinc-900 rounded-lg p-2 min-w-64 grow flex flex-col gap-2">
    <li class="lane-header flex">
      <span class="font-medium">
        <%= @lane.name %>
      </span>
      <button span class="material-symbols-outlined ml-auto bg-violet-700 rounded-lg">
        add
      </button>
    </li>
    <li class="bg-zinc-950 border border-violet-700 rounded-lg p-2 shadow-lg">
      <%= form_with model: @task do |form| %>
        <%= form.hidden_field :board_id, value: @lane.board.id %>
        <%= form.hidden_field :lane_id, value: @lane.id %>
        <%= form.text_field :title, id: dom_id(@lane, :task_title), required: true, autofocus: true, placeholder: "Title", class: 'mb-1 p-0 w-full border-none bg-transparent focus:ring-0 focus:brightness-150 text-white p-2' %>
        <%= form.text_area :description, id: dom_id(@lane, :task_description), placeholder: "Description (optional)", class: 'resize-none p-0 w-full border-none bg-transparent focus:ring-0 focus:brightness-150 text-white p-2' %>
        <%= form.submit "save", class: "material-symbols-outlined text-violet-700 float-right" %>
      <% end %>
    </li>
    <%= render TaskComponent.with_collection(@tasks) %>
  </ul>
</turbo-frame>
