<turbo-frame id="<%= dom_id(@lane) %>" data-lane-id="<%= @lane.id %>" class="bg-zinc-900 flex-1 overflow-y-auto overflow-x-hidden scrollbar-hide rounded-lg px-2 pb-2 min-w-64 sm:h-full space-y-2" data-controller="lane-component" data-board-component-target="lane">
  <header class="lane-header flex sticky top-0 bg-zinc-900 py-2 -mx-2 px-2 gap-1">
    <span class="font-medium">
      <%= name %>
    </span>
    <button class="material-symbols-outlined ml-auto sm:hidden" data-action="board-component#toggleLane">
      unfold_more
    </button>
    <button id="<%= new_task_button_id %>" class="material-symbols-outlined bg-violet-700 rounded-lg sm:ml-auto" data-action="lane-component#toggleNewTaskForm" data-turbo-permanent>
      add
    </button>
  </header>
  <div id="<%= new_task_form_id %>" class="<%= helpers.task_classes %> !mt-0 !mb-2 p-2" data-lane-component-target="newTaskForm" hidden data-turbo-permanent>
    <%= new_task_form %>
  </div>
  <%= tasks %>
</turbo-frame>
