<li class="task flex cursor-grab <%= helpers.task_classes %> first-of-type:!mt-0">
  <%= form %>
  <article class="p-2 flex flex-col w-full handle">
    <header class="font-medium text-center place-content-center grow">
      <%= title %>
    </header>
    <%= description %>
  </article>
  <aside class="flex flex-col gap-1 my-2 mr-1">
    <%= edit_button %>
    <%= delete_button %>
  </aside>
</li>
