<li class="task first-of-type:!mt-0 bg-zinc-950 border-2 border-violet-700 rounded-lg overflow-hidden shadow-lg flex cursor-grab select-none">
  <%= form %>
  <article class="p-2 flex flex-col w-full handle">
    <header class="font-medium text-center place-content-center grow">
      <%= title %>
    </header>
    <%= description %>
  </article>
  <aside class="flex flex-col gap-1 my-2 mr-1">
    <%= edit_button %>
    <%= delete_button %>
  </aside>
</li>
