<div class="flex flex-col gap-2">
  <%= board_invite_button %>
  <%= board_edit_button %>
  <div class="bg-zinc-900 rounded-lg p-2 shadow-2xl">
    <header class="text-xl font-bold mb-2">
      Members
    </header>
    <% @board.users.each do |user| %>
      <li class="ml-4">
        <%= user.email_address %>
      </li>
    <% end %>
  </div>
  <div class="bg-zinc-900 rounded-lg p-2 shadow-2xl list-none space-y-2" data-controller="sortable">
    <header class="text-xl font-bold">
      Lanes
    </header>
    <% @board.lanes.each do |lane| %>
      <li class="select-none button-outlined flex justify-center">
        <%= lane.name %>
      </li>
    <% end %>
  </div>
  <%= board_delete_button %>
</div>
