<%# locals: (lane:) %>

<turbo-frame id="<%= dom_id(lane) %>" class="bg-zinc-900 flex-1 flex flex-col overflow-x-hidden rounded-lg pb-2 min-w-64 sm:h-full" data-board-target="lane">
  <header class="lane-header flex sticky top-0 bg-zinc-900 py-2 px-2 gap-1 shrink-0">
    <span class="font-medium">
      <%= lane.name %>
    </span>
    <button class="material-symbols-outlined ml-auto sm:invisible cursor-pointer" data-action="board#toggleLane">
      unfold_more
    </button>
    <button id="<%= dom_id(lane, :new_task_button) %>" class="material-symbols-outlined bg-violet-700 rounded-lg sm:ml-auto cursor-pointer" data-action="board#toggleNewTaskForm" data-turbo-permanent>
      add
    </button>
  </header>
  <ul class="overflow-y-auto grow space-y-2 px-2" data-controller="lane" data-lane-id="<%= lane.id %>">
    <%= tag.div(id: dom_id(lane, :new_task_form), class: new_task_classes, hidden: true, data: { turbo_permanent: true }) do %>
      <%= new_task_form(lane) %>
    <% end %>
    <%= render(lane.tasks.select(&:persisted?)) %>
  </ul>
</turbo-frame>
