<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || "Taskthing" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="turbo-refresh-method" content="morph">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag :all, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="lg:container mx-auto bg-zinc-950 text-white break-words hyphens-auto h-dvh scheme-only-dark" data-controller="application">
    <%= turbo_frame_tag :modal %>

    <header class="flex w-full items-center px-4 h-12">
      <%= header %>
    </header>

    <main class="relative px-2 h-[calc(100dvh-3rem)]">
      <%= yield %>
    </main>
  </body>
</html>
