<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Taskthing" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="turbo-refresh-method" content="morph">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag :all, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="lg:container mx-auto bg-zinc-950 text-white h-dvh" data-controller="application">
    <%= turbo_frame_tag :modal %>

    <header class="flex w-full items-center px-4 h-12 sm:h-16">
      <% if @board %>
        <%= link_to "Boards", boards_path, class: "text-xl font-bold" %>
        <span class="material-symbols-outlined cursor-default pl-0.5">
          chevron_right
        </span>
        <%= link_to @board.title, board_path, class: "text-xl font-bold" %>
      <% elsif @boards %>
        <%= link_to "Boards", boards_path, class: "text-xl font-bold" %>
      <% else %>
        <%= link_to "Taskthing.io", root_path, class: "text-xl font-bold" %>
      <% end %>

      <div class="ml-auto flex items-center gap-2">
        <% if authenticated? %>
          <div data-application-target="indicator" data-turbo-temporary hidden>
            <div class="lds-ring flex items-center"><div></div><div></div><div></div><div></div></div>
          </div>
          <%= link_to "logout", session_path, class: "material-symbols-outlined", data: { turbo_method: :delete } %>
        <% else %>
          <%= link_to "Login", new_session_path, class: "button-outlined" %>
        <% end %>
      </div>
    </header>

    <main class="relative px-2 h-[calc(100dvh-3rem)] sm:h-[calc(100dvh-4rem)]">
      <%= yield %>
    </main>

    <footer class="absolute bottom-0 p-3">
      <%= yield :footer %>
    </footer>
  </body>
</html>
