<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Taskthing" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag :all, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  </head>

  <body class="container mx-auto bg-zinc-950 text-white flex flex-col" data-controller="application">
    <header class="flex w-full items-center p-4">
      <%= link_to "TaskThing.io", root_path, class: "text-xl font-bold", data: { action: "application#showSpinner" } %>

      <div class="ml-auto flex items-center gap-2">
        <% if authenticated? %>
          <%= turbo_frame_tag :modal %>
          <%= link_to "account_circle", session_path, class: "material-symbols-outlined", data: { turbo_method: :delete } %>
        <% else %>
          <%= link_to "Login", new_session_path, class: "button-outlined" %>
        <% end %>
      </div>
    </header>

    <main class="px-2 relative flex-1">
      <%= yield %>
    </main>

    <footer class="flex items-center">
      <%= yield :footer %>
    </footer>
  </body>
</html>
